* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    height: 60px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

h1 {
    margin: 0;
    text-align: center;
    color: #4682B4;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.625rem;
            padding-top: 30px;
        }

        .card {
            position: relative;
            cursor: pointer;
            outline: none;
            border: 2px solid #4682B4;
            background: #fff;
            padding: 0;
            width: 30rem;
            height: 6rem;
            font-size: 24px;
            font-family: inherit;
            border-radius: 0.8rem;
            text-decoration: none;
			margin-bottom:12px;
        }

        .card .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 6rem;
            background: #4682B4;
            border-radius: 0.6rem;
        }

        .card .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
        }

        .card .circle .icon.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
        }

        .card .circle .icon.arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
        }

        .card .card-title {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1.5rem 0;
            margin: 0 0 0 1.85rem;
            color: #4682B4;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }

        .card:hover .circle {
            width: 100%;
        }

        .card:hover .circle .icon.arrow {
            background: #fff;
            transform: translate(1rem, 0);
        }

        .card:hover .card-title {
            color: #fff;
        }

        .back-button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 20px;
            width: 100%;
        }

        .back-button {
            width: 180px;
            height: 50px;
            background-color: #4682B4;
            color: #fff;
            border: 1px solid #4682B4;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            border-radius: 8px;
            cursor: pointer;
            text-transform: uppercase;
        }

        .back-button:hover {
            background-color: #fff;
            color: #4682B4;
            border: 1px solid #4682B4;
        }

        .footer {
            text-align: center;
            margin-top: auto;
            font-size: 14px;
            color: #777;
            margin-bottom: 35px;
        }


@media screen and (max-width: 800px) {
    h1 {
        font-size: 36px;
    }

    .container {
        padding-top: 15px;
    }

    .card {
        flex: 0 0 45%;
        min-height: clamp(100px, 10vh, 150px);
    }
}

@media screen and (max-width: 550px) {
    .header-content {
        display: flex;
        align-items: center;
        position: relative;
    }

    h1 {
        font-size: 32px;
    }

    .container {
        padding-top: 15px;
    }
	
    .card {
        flex: 0 0 100%;
        width: 25rem;
        height: 6rem;
		margin-bottom:12px;
    }
	

}
